<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{logKey}] %logger{10} : %msg %n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>${logPattern}</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>